@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, rgb(253, 213, 165), white);
    }
    
    #login {
        width: 80vw;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, rgb(252, 207, 152), white);
    }
    
    #login {
        width: 950px;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 50%;
    }
    
}